/**
TODO: CSS still not great as size changes. Price tags disconnect from images.
*/
@import '../../style.css';

.shop-area {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--green-600);
  display: flex;
  justify-content: center;
  align-items: end;
}
.shop-menu-outer {
  height: 92%;
  width: 95%;
  background-color: var(--turquoise-500);
  border-radius: 16px 16px 0px 0px;
  border: 4px solid rgb(202, 77, 76);
  border-bottom: none;
  padding: 4px;
}
.shop-menu {
  height: 96%;
  width: 100%;
  background-color: var(--turquoise-800);
  filter: drop-shadow(0px 4px 0px #040E0F);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 16px;
}

.menu-top {
  height: 45%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.top-buttons {
  height: 96%;
  width: 26%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.next-button,.reroll-button {
  height: 50%;
  color: var(--white-100);
  font-size: 1.1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 100%;
  gap: 8px;
}
.next-button {
  background-color: var(--red-500);
}
.reroll-button {
  background-color: var(--green-300);
}
.reroll-cost {
  font-size: 1.5rem;
  font-weight: 700;
}

.top-sales {
  height: 100%;
  width: 74%;
  background-color: var(--turquoise-400);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.sales-item {
  position: relative;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sales-item img {
  max-width: 100%;
  max-height: 100%;
  z-index: 10; /*images have transparent edges, so want the price tags behind them*/
}
.price-box {
  position: absolute;
  height: 30%;
  width: 40%;
  background-color: var(--black-800);
  border-radius: 10px 10px 0px 0px;
  border: 3px solid var(--black-800);
  top: max(-23%, -40px);
  left: 25%;
}
.price-text {
  color: var(--peach-400);
  background-color: var(--grey-500);
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 130%;
}

.menu-bottom {
  height: 50%;
  width: 96%;
  display: flex;
  gap: 10px;
}

.bottom-vouchers {
  height: 100%;
  width: 53%;
  background-color: var(--turquoise-700);
  border: 8px solid var(--turquoise-400);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-vouchers .voucher {
  position: relative;
}
/* .voucher-price {
  position: absolute;
} */
.bottom-sales {
  height: 100%;
  width: 45%;
  background-color: var(--turquoise-400);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sales-pack {
  position: relative;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}