@import '../../style.css';

/*side menu has a gap on the left, added with width: 90% and margin-left*/
.side-menu {
  height: 100%;
  width: 90%;
  margin-left: auto;
  color: var(--white-100);
  border-left: 3px solid var(--turquoise-700);
  border-right: 3px solid var(--turquoise-700);
  display: flex;
  flex-direction: column;
}
.side-top {
  height: 37%;
  background-color: var(--grey-600);
}
.side-middle {
  height: 26%;
  background-color: rgb(74, 99, 99);
}
.side-bottom {
  height: 37%;
  background-color: rgb(38, 42, 42);
}
.top-blind {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top-blind-text-1 {
  font-size: 1.5rem;
}
.top-blind-text-2 {
  font-size: 1.8rem;
}