/* Colors
 dark grey: #333232;
*/
/* TODO: adjust/standardize colors. Currently redundant text color across
column/sub elements*/

.stageselect {
  background-color: #39715A;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 20px;
}



.stage-column {
  height: 92%;
  width: 30%;
  color: #efefef;
  background-color: #34464B;
  border-radius: 10px 10px 0px 0px;
  box-shadow: inset 0px 0px 5px aliceblue;
  padding: 6px 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: -5px; /*used to hide the bottom portion of the box shadow*/
}

.smallblind-column {
  box-shadow: 0px 0px 4px 4px #0A639E;
  outline: 3px solid #0A639E;
}
.bigblind-column {
  box-shadow: 0px 0px 4px 4px #986A0B;
  outline: 3px solid #986A0B;
}
.bossblind-column {
  box-shadow: 0px 0px 4px 4px #44A96F;
  outline: 3px solid #44A96F;
}
.smallblind-select-column,.bigblind-select-column,.bossblind-select-column {
  height: 98%;
}
.smallblind-select-column {
  box-shadow: 0px 0px 4px 4px #0A639E;
  outline: 3px solid #0A639E;
}
.bigblind-select-column {
  box-shadow: 0px 0px 4px 8px #986A0B;
  outline: 3px solid #986A0B;
}

.defeated-column {
  box-shadow: 0px 0px 4px 4px #1E2C2E;
  outline: 3px solid #1E2C2E;
}

.blind-infobox {
  width: 100%;
  outline: 3px solid #3E5257;
  border-radius: 10px;
  padding: 6px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

}
/* stageselect button always applied,
 one of defeated/select/upcoming/skipped applied in addition*/
.status-button {
  width: 70%;
	font-size: 1.1rem;
  font-weight: 600;
	border-radius: 10px;
  filter: drop-shadow(0px 4px 4px #223235); /* 27393C */
	padding: 5px 10px;
	display: inline-block;
}
.select-button {
  background-color: #FF8F00;
}
.upcoming-button {
  background-color: #475354;
  color: #535E60;
}
.defeated-button {
  background-color: #475354;
  color: #535E60;
}
.skipped-button {
  background-color: #264542;
}

/*blind label always applied, one of smallblind, bigblind, bossblind, or defeated*/
.blind-label {
  width: 80%;
  background-color: #223235;
  color: #F1FFFF;
  border-radius: 10px;
  outline-width: 3px;
  outline-style: solid;
  /*outline color provided below*/
}
.smallblind-label {
  background-color: #013E69;
  outline-color: #0F6797;
  filter: drop-shadow(0px 4px 0px #01233C);
}
.bigblind-label {
  background-color: #653E03;
  outline-color: #9D6911;
  filter: drop-shadow(0px 4px 0px #3E2200);
}
.bossblind-label {
  background-color: #357752;
  outline-color: #44A96F;
  filter: drop-shadow(0px 4px 0px #183725);
}
.defeated-label {
  background-color: #18191a;
  outline-color: #495054;
  filter: drop-shadow(0px 4px 0px #1f2123);
}

.blind-iconbox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.blind-circle {
  width: 36%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.blind-circle img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  filter: drop-shadow(0px 2px 0px #242525);
}
.boss-message {
  width: 70%;
  line-height: 100%;
}

.blind-scorebox {
  width: 90%;
  background-color: #1d2a2d;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 0px;
  filter: drop-shadow(0px 2px 0px #242525);
}
.blind-scorebox .score-middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  align-items: center;
}
.score-text-top,.score-text-middle,.score-text-bottom {
  color: #F1FFFF;
}
.score-middle img {
  height: 24px;
}
.score-text-middle {
  line-height: 85%;
  font-size: 2rem;
  color: #F14D4E;
}
.score-text-money { color: #D6A448; }


.blind-or {
  font-size: 1.5rem;
  color: #F1FFFF;
}
.blind-skipbox {
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #1D2A2D;
  border-radius: 10px;
  padding: 4px;
}
.blind-skipbox img {
  width: 30%;
}
.skip-button {
  height: 90%;
  width: 60%;
  color: #F1FFFF;
  background-color: #FF4A41;
  filter: drop-shadow(0px 2px 0px #111111);
  border-radius: 5px;
  /*center text*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.blind-nextstage {
  margin-top: 10px;
  width: 80%;
  background-color: #1D2A2D80; /* same color as skipbox, but 80% opacity*/
  padding: 8px;
  border-radius: 10px;
  line-height: 130%;
}
.nextstage-header {
  font-size: 1.4rem;
  font-weight: 700;
  color: #FF8F00;
}