:root {
  --dark-grey: #252525;
  --main-background: var(--dark-grey);
}

body {
  height: 100dvh;
  margin: 0px;
  padding: 0px;
  color: var(--text-color);
  font-family: var(--font-sans);
  background-color: var(--main-background);
  /* From Josh Comeau's CSS reset*/
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
#root {
  height: 100%;
  width: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* taken from the otherwise empty App.css*/
#root {
  text-align: center;
}
