:root {
  --dark-grey: #252525;
  --main-background: var(--dark-grey);
}

body {
  height: 100dvh;
  margin: 0px;
  padding: 0px;
  color: var(--text-color);
  font-family: var(--font-sans);
  background-color: var(--main-background);
}