:root {
  --white-100: rgb(240, 255, 255);

  --black-500: rgb(45, 45, 45);
  --black-600: rgb(35, 35, 35);
  --black-700: rgb(25, 25, 25);
  --black-800: rgb(15, 15, 15);

  --grey-400: rgb(75, 80, 85);
  --grey-500: rgb(50, 65, 70);
  --grey-600: rgb(50, 55, 60);

  --blue-200: rgb(10, 145, 255);
  --blue-400: rgb(10, 100, 160); /* --blue-500: rgb(15, 105, 150); */
  --blue-700: rgb(0, 60, 105);
  --blue-800: rgb(0, 35, 60);

  --turquoise-400: rgb(50, 75, 80);
  --turquoise-500: rgb(45, 70, 75);
  --turquoise-600: rgb(40, 60, 65);
  /* --turquoise-650: rgb(30, 45, 50); */
  --turquoise-700: rgb(30, 40, 45);
  --turquoise-800: rgb(20, 35, 40);

  --green-300: rgb(50, 180, 125);;
  --green-400: rgb(70, 170, 110);
  --green-600: rgb(50, 120, 80);
  --green-800: rgb(25, 55, 35);


  --red-100: #F9948B;
  --red-200: #F88277;
  --red-300: #F77064;
  --red-400: #F65E50;
  --red-500: rgb(245, 75, 60);
  --red-600: rgb(202, 77, 76);
  --red-700: #C2190A;
  --red-800: #921307;
  --red-900: #610D05;
  --red-950: #490904;

  --orange-200: rgb(245, 145, 0);
  --orange-300: rgb(215, 140, 15);
  --orange-400: rgb(160, 105, 15);
  --orange-600: rgb(100, 60, 0);
  --orange-800: rgb(60, 35, 0);

  --peach-400: rgb(225, 165, 70);
}